<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<center>
<style type="text/css">
    .label{
    position:absolute;
    top:0px;
    right:0;
    left:0;
    }
    .link{
    position:absolute;
    top:0px;
    left:0px;
    }

</style>
<body>

<form method="post">

      <table>
        <tr>
          <td class="label">
          </td>

          <td>
            <textarea name="content" style="height: 200px; width: 400px;" >{{page.content}}</textarea>
          </td>

        </tr>
    </table>
    <input type="submit">
</form>
</body>
</center>
</html>